  <!-- About-page-banner -->

  <div class="about-page-banner">
    <div class="about-page-banner-img">
        <p>A DIFFERENT TYPE OF TIME</p>
        <p class="about-page-banner-para">We are dedicated to crafting exquisite timepieces through <br> meticulous r&d in materials, finishing, and intricate detailing. Our <br> ultimate aspiration is to revive the joy of acquiring a luxury item at <br> a price that is devoid of stress.</p>
    </div>

    <div class="about-page-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12 p-5 ">
                    <p class="about-page-content-1" > A DIFFERENT AURA</p>
                    <p class="about-page-content-2">
                        Once in a decade a brand emerges, transcending the limits  of what was believed possible within a category. Aura epitomizes this remarkable occurrence. Our collective embodies a fusion of artists, designers, musicians, and visionaries, driven by a shared aspiration to redefine the very essence of accessible watches. This is only the beginning.</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                        <img src="../../assets/images/About-page-img-1.jpg" width="100%">
                </div>
                <div class="container">
                    <div class="row align-items-center">
                
                        <div class="col-lg-6 col-md-12 col-sm-12">
                                <img src="../../assets/images/About-page-img-2.jpg" width="100%">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <p class="about-page-content-3" >A DIFFERENT AURA</p>
                            <p class="about-page-content-4">
                                Once in a decade a brand emerges, transcending the limits  of what was believed possible within a category. Aura epitomizes this remarkable occurrence. Our collective embodies a fusion of artists, designers, musicians, and visionaries, driven by a shared aspiration to redefine the very essence of accessible watches. This is only the beginning.</p>
                        </div>
                    </div>
                        
                    </div>
                </div>
        </div>
    </div>
</div>

