  <!-- Navigation-Bar-home-page -->
  <div class="nav-banner">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/images//Dark_aura.png" height="30px" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-item" id="navbarNav">
          <ul class="navbar-nav m-auto" style="text-decoration: none; list-style: none; cursor: pointer;">
            <li class="nav-item">
              <a class="nav-link" roterLink="Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" roterLink="Shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" roterLink="About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" roterLink="Contact">Contact</a>
            </li>
          </ul>
          <div class="icons">
            <a href="https://web.facebook.com/?_rdc=1&_rdr"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram px-2"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-x-twitter"></i></a>

          </div>
        </div>
      </div>
    </nav>
<router-outlet></router-outlet>

 <!-- footer -->
 <footer>
  <!-- Widgets - Bootstrap Brain Component -->
  <section class=" py-4 py-md-5 py-xl-8 border-top border-light text-light item-detail-page-footer">
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0 justify-content-xl-between">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <div class="widget footer-img">
            <a routerLink="">
              <img src="../assets/images/Dark_aura.png" width="100%">
              <p>AURA WATCHES : Timeless Elegance crafted with precision since [year].</p>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <div class="widget">
            <h4 class="widget-title  mb-4">Get in Touch</h4>
            <address class="mb-4">10701 NW 140th Street, Hialeah, FL 33018, United States</address>
            <p class="mb-1">
              <a class="link-light text-decoration-none" href="tel:+15057922430">(505)
                776-5439</a>
            </p>
            <p class="mb-0">
              <a class="link-light text-decoration-none"
                href="mailto:info@ralphchristian.com">info@ralphchristian.com</a>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <div class="widget">
            <h4 class="widget-title mb-4">Learn More</h4>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a roterLink="" class="link-light text-decoration-none">Home</a>
              </li>
              <li class="mb-2">
                <a roterLink="About" class="link-light text-decoration-none">About us</a>
              </li>
              <li class="mb-2">
                <a roterLink="Contact" class="link-light   text-decoration-none">Contact us</a>
              </li>
              <li class="mb-2">
                <a roterLink="Shop" class="link-light text-decoration-none">Shop</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-4">
          <div class="widget">
            <h4 class="widget-title mb-4">Our Services</h4>
            <p class="mb-4">Subscribe to our newsletter to get our news & discounts delivered to you.
            </p>
            <form action="#!">
              <div class="row gy-4">
                <div class="col-12">
                  <div class="input-group">
                    <span class="input-group-text" id="email-newsletter-addon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope" viewBox="0 0 16 16">
                        <path
                          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                      </svg>
                    </span>
                    <input type="email" class="form-control" id="email-newsletter" value=""
                      placeholder="Email Address" aria-label="email-newsletter"
                      aria-describedby="email-newsletter-addon" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-light" type="submit">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>