 <!-- Banner-home-page -->
 <section class="banner">
    <div class="video-main">
      <div class="banner-content">
        <!-- <h1 class="aura">AURA</h1>
        <h1 class="watches">WATCHES</h1> -->
      </div>
      <video src="../../assets/images/Home Page Banner Video.mp4" muted autoplay loop>
      </video>
    </div>
  </section>

<!-- For Home-page Cards -->
<section>
  <div class="container">
    <p class="home-page-cards-heading">EXPLORE THE COLLECTIONS</p>
    <div class="row home">

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <p class="home-page-cards-heading">LATEST FROM OUR BLOG</p>

      <div class="col-lg-4 col-md-6">
        <a href="#">
          <h6>NEWS</h6>
          <h5>The Ultimate Father's Day Watch Buying Guide:Perfect Timepieces for Every Type of Dad</h5>
          <p class="blogs-content">With Father's Day nearing, honor the remarkable man in your life with a timeless
            gift - a watch. Our guide will help you select a suitable timepiece tailored to your dad's unique
            personality and lifestyle.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#">
          <h6>NEWS</h6>
          <h5>The Watch Glossary: Common Terms Every Watch Owner Should Know</h5>
          <p class="blogs-content">Unravel the language of watches with our comprehensive guide. We delve into watch
            anatomy and horology jargon to give you a deeper understanding of your timepiece. Dive into the
            fascinating world of horology now!</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="#">
          <h6>NEWS</h6>
          <h5>Best Watches To Gift For Valentines Day</h5>
          <p class="blogs-content">If you're anything like us there are two considerations that come into play when
            you're getting someone a gift for Valentine's Day: utility and cost. Read more to discover. How often is
            this person going to use this present and how much is this gift going to cost me?</p>
        </a>
      </div>
    </div>
  </div>

</section>

<section>
  <p class="last-content-1">#AURA WATCHES ON INSTAGRAM</p>
  <p class="last-content-2">Follow our latest offers and videos,share your experience by <br> spending as your photos
    or more..</p>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="About-page.html"><img src="../../assets/images/card-img-4.jpg" class="p-3" width="100%"></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="About-page.html"><img src="../../assets/images/card-img-5.jpg" width="100%" class="p-3"></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="About-page.html"><img src="../../assets/images/card-img-6.jpg" width="100%" class="p-3"></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="About-page.html"><img src="../../assets/images/card-img-7.jpg" width="100%" class="p-3"></a>
      </div>
    </div>
  </div>
</section>